<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.userinfo.mapper.UserInfoServiceMapper" >
 <select id="queryUserRole" resultType="com.base.domains.RoleVO" parameterType="map">
    SELECT ur.role_id roleID ,r.role_name roleName from usercontroller_user_role ur
    INNER JOIN usercontroller_role r on ur.role_id=r.role_id
    WHERE ur.user_id=(select u.user_id from usercontroller_user u where u.user_login_id=#{loginId})
 </select>

    <select id="queryPermissionByRoleID" resultType="com.base.domains.PermissionVO" parameterType="map" >
        select p.permission_id permissionID,p.permission_value permissionURL,p.permission_name permissionName from usercontroller_role_permission rp
        INNER JOIN usercontroller_permission p on rp.permission_id=p.permission_id
        where rp.role_id in
        <foreach item="item" index="index" collection="idArray" open="("	separator="," close=")">
            #{item.roleID,jdbcType=DECIMAL}
        </foreach>
    </select>
    
    <select id="querySessionVOInfo" parameterType="com.base.domains.LoginVO" resultType="com.base.domains.SessionVO">
        select u.user_id id,u.user_login_id loginId,
        u.user_name userName,u.user_org_id orgId,org.org_name orgName,
        u.user_parent_id parentId,u.`status`,u.default_dev_account defaultDevID
         from usercontroller_user u
        INNER JOIN usercontroller_org org on org.org_id=u.user_org_id
        where u.user_login_id = #{loginId}   and u.user_password=#{enpassword}
    </select>


    <select id="queryEbayAccountForUser" parameterType="java.lang.Long" resultType="com.base.domains.userinfo.UsercontrollerEbayAccountExtend">
        select ebay.id id, ebay.user_id userId, ebay.ebay_name ebayName, ebay.paypal_account_id paypalAccountId, ebay.create_user createUser, ebay.create_time createTime, ebay.uuid uuid,ebay.ebay_token ebayToken,
        paypal.paypal_account paypalName
        from usercontroller_ebay_account ebay
        left join usercontroller_paypal_account paypal on ebay.paypal_account_id =  paypal.id
        and ebay.user_id=#{userID}
    </select>
    
    
    <resultMap id="ebayToken" type="com.base.database.trading.model.UsercontrollerEbayAccount">
        <result column="ebay_token" jdbcType="LONGVARCHAR" property="ebayToken" />
        <result column="user_id" jdbcType="LONGVARCHAR" property="userId" />
    </resultMap>
    <select id="getTokenByEbayID" parameterType="java.lang.Long" resultMap="ebayToken">
        select e.ebay_token,e.user_id from usercontroller_ebay_account e where e.id = #{id}
    </select>
    
    <select id="ebayIsBindDev" parameterType="map" resultType="int">
        select count(1) from usercontroller_ebay_dev ed where ed.ebay_account_id = #{ebayID} and ed.dev_account_id=#{devID}
    </select>

    <select id="queryAllDevAccount" resultType="com.base.database.trading.model.UsercontrollerDevAccount">
        select dev.id ,dev.dev_user devUser from Usercontroller_Dev_Account dev
    </select>

</mapper>