body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;
  position: relative;
  margin: 0px;
  font-size: 12px;
  padding: 0px;
  /*-webkit-font-smoothing: antialiased;*/
}

h1, h2, h3, h4, h5 {
	margin: 0;
	line-height: inherit;
	color: #29323d;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 21px;
	font-weight: normal;
}
h1 small, h2 small, h3 small, h4 small, h5 small {
  margin-left: 15px;
  font-style: italic;
}

body.menu {
  overflow-x: hidden;
}
body.menu .content {
  margin-left: 165px;
  position: fixed;
  width: 850px;
}
body.menu #sidebar-nav {
  position: absolute;
  left: 0;
  /*height: 100%;*/
  border-right: 0px;
  box-shadow: none;
}

input.search {
  background: url("../../img/lens.png") #fcfcfc no-repeat 95%;
  box-shadow: none;
  height: 25px;
  width: 220px;
  font-size: 13px;
  padding: 2px 6px;
  border: 1px solid #d0dde9;
  margin: 0;
  border-radius: 2px;
  top: 11px;
}

.header {

}
.header h1, .header h2, .header h3, .header h4, .header h5 {
  float: left;
  margin-top: 5px;
}

/* Custom navbar stuff */
/* search input */
.navbar-inverse {
  /* navbar settings and logout icons */
  /* notification menu with custom dropdowns */
  /* navbar popup dialog */
}
.navbar-inverse input.search {
  height: 27px;
  width: 220px;
  padding: 3px 6px;
  background: url("../../img/lens.png") #0f1217 no-repeat 95%;
  border: 1px solid #0f1217;
  position: relative;
  border-radius: 4px;
  top: 9px;
  color: #000;
  font-size: 13px;
  margin-right: 40px;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}
.navbar-inverse input.search:focus {
  background-color: #fff;
  border: 0;
}
.navbar-inverse .settings i {
  color: #9ba3ad;
  font-size: 21px;
}
.navbar-inverse .notification-dropdown {
  position: relative;
}
.navbar-inverse .notification-dropdown > a:hover,
.navbar-inverse .notification-dropdown > a.active {
  background: #254261 !important;
  box-shadow: inset 1px 0px 1px 0px #3e5a79;
}
.navbar-inverse .notification-dropdown i {
  font-size: 17px;
  color: #9ba3ad;
}
.navbar-inverse .notification-dropdown .count {
  position: absolute;
  top: 1px;
  left: 58%;
  background: #FF7F00;
  padding: 0px 5px;
  border-radius: 30px;
  color: #fff;
  line-height: 16px;
  z-index: 9999;
  text-align: center;
  font-size: 11px;
}
.navbar-inverse .pop-dialog {
  position: absolute;
  right: -10px;
  top: 55px;
  display: none;
  /* navbar popup dialog for notifications */
  /* navbar popup dialog for messages */
}
.navbar-inverse .pop-dialog.is-visible {
  display: block;
  -webkit-animation: reveal .2s ease-out;
  -moz-animation: reveal .2s ease-out;
  animation: reveal .2s ease-out;
}
.navbar-inverse .pop-dialog .body {
  box-shadow: 0px 1px 9px 1px #c2c2c2;
}
.navbar-inverse .pop-dialog .close-icon {
  float: right;
  text-decoration: none;
  z-index: 9999;
  position: relative;
}
.navbar-inverse .pop-dialog .footer {
  border-top: 1px solid #e6e8e9;
  background-color: #eff4f7;
  margin: 15px 0px -10px 0px;
  border-radius: 0px 0px 5px 5px;
  padding: 12px 20px;
  text-align: center;
}
.navbar-inverse .pop-dialog .footer a {
  font-weight: 600;
  color: #7d91a8;
}
.navbar-inverse .pop-dialog .notifications {
  width: 330px;
  margin: 10px -10px 0px -10px;
}
.navbar-inverse .pop-dialog .notifications h3 {
  font-size: 13px;
  color: #404951;
  font-weight: bold;
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.navbar-inverse .pop-dialog .notifications .item {
  display: block;
  padding: 10px 0px 8px 20px;
  border-top: 1px solid #e7e8ea;
  color: #363636;
  text-decoration: none;
  padding-left: 50px;
  position: relative;
  transition: all .25s linear;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
}
.navbar-inverse .pop-dialog .notifications .item:hover {
  background: #f0f6ff;
}
.navbar-inverse .pop-dialog .notifications .item > i {
  color: #fc827b;
  position: absolute;
  left: 19px;
  font-size: 18px;
}
.navbar-inverse .pop-dialog .notifications .item > i.icon-user {
  left: 18px;
}
.navbar-inverse .pop-dialog .notifications .item .time {
  float: right;
  color: #82a3c1;
  font-style: italic;
  font-weight: 600;
  font-size: 11px;
  min-width: 60px;
  margin-right: 5px;
}
.navbar-inverse .pop-dialog .notifications .item .time i {
  font-size: 13px;
  color: #cfcfcf;
  margin-right: 1px;
}
.navbar-inverse .pop-dialog .messages {
  width: 325px;
  margin: 10px -10px 0px -10px;
}
.navbar-inverse .pop-dialog .messages .item {
  display: block;
  padding: 10px 20px 15px 20px;
  height: 80px;
  border-bottom: 1px solid #e7e8ea;
  color: #363636;
  text-decoration: none;
  position: relative;
  transition: all .25s linear;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
}
.navbar-inverse .pop-dialog .messages .item.last {
  border-bottom: 0px;
}
.navbar-inverse .pop-dialog .messages .item:hover {
  background: #f0f6ff;
}
.navbar-inverse .pop-dialog .messages .item .display {
  float: left;
  border-radius: 50px;
  margin-right: 15px;
}
.navbar-inverse .pop-dialog .messages .item .name {
  font-size: 12px;
  color: #404951;
  font-weight: bold;
}
.navbar-inverse .pop-dialog .messages .item .msg {
  font-size: 11px;
  color: #636363;
  line-height: 13px;
  position: relative;
  top: 2px;
}
.navbar-inverse .pop-dialog .messages .item .time {
  position: absolute;
  right: 0px;
  bottom: 6px;
  color: #82a3c1;
  font-style: italic;
  font-weight: 600;
  font-size: 11px;
  min-width: 60px;
  margin-right: 5px;
}
.navbar-inverse .pop-dialog .messages .item .time i {
  font-size: 13px;
  color: #cfcfcf;
  margin-right: 1px;
}
.navbar-inverse .pop-dialog .messages .footer {
  margin-top: 6px;
}

/* Sidebar */
#sidebar-nav {
	position: absolute;
	width: 220px;
	float: left;
	margin: 0em;
	padding-top: 5.8em;
}
#sidebar-nav #dashboard-menu {
  list-style: none;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
  margin-left: 20px;
  /* sidebar submenus */
}
#sidebar-nav #dashboard-menu > li > a {
  display: block;
  padding: 19px 14px 15px 14px;
  margin-left: -15px;
  margin-bottom: 5px;
  border-bottom: 1px solid #dae1e8;
  box-shadow: 0 2px 1px -1px #FFFFFF;
  color: #6e829b;
  outline: 0px;
  line-height: 21px;
}
#sidebar-nav #dashboard-menu > li {
  position: relative;
  /* font awesome icon */
}
#sidebar-nav #dashboard-menu > li .icon-group {
  font-size: 22px;
}
#sidebar-nav #dashboard-menu > li i {
  font-size: 23px;
  top: 17px;
}
#sidebar-nav #dashboard-menu > li:hover i {
  opacity: 1;
}
#sidebar-nav #dashboard-menu > li.active > a,
#sidebar-nav #dashboard-menu > li > a:hover {
  color: #33455a;
  text-decoration: none;
}
#sidebar-nav #dashboard-menu > li.active a {
  font-weight: 600;
  text-shadow: 1px 1px 1px #fff;
}
#sidebar-nav #dashboard-menu > li.active i {
  opacity: 1;
}
#sidebar-nav #dashboard-menu .pointer {
	position: absolute;
	right: 7px;
	top: 20px;
}
#sidebar-nav #dashboard-menu .pointer .arrow,
#sidebar-nav #dashboard-menu .pointer .arrow_border {
	border-color: transparent #fff transparent transparent;
	border-width: 11px;
	border-style: solid;
	font-size: 0;
	left: 50%;
	line-height: 0;
	margin: 0 auto;
	position: absolute;
	top: 0;
	width: 0;
	z-index: 1002;
	left: 2px;
	margin-left: 45%;
}
#sidebar-nav #dashboard-menu .pointer .arrow_border {
  border-color: transparent #c0d2dd transparent transparent;
  border-width: 11px;
  margin-left: -1px;
  border-style: solid;
  z-index: 1001;
  top: 0px;
}
#sidebar-nav #dashboard-menu a span {
	margin-left: 35px;
	transition: color .1s linear;
	-moz-transition: color .1s linear;
	-webkit-transition: color .1s linear;
	-o-transition: color .1s linear;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
	font-weight: bold;
}
#sidebar-nav #dashboard-menu a.ui-elements span {
  margin-left: 25px;
}
#sidebar-nav #dashboard-menu a i {
	position: absolute;
	left: 0;
	height: 24px;
	width: 24px;
	opacity: 0.7;
	transition: opacity .1s ease;
	-moz-transition: opacity .1s ease;
	-webkit-transition: opacity .1s ease;
	-o-transition: opacity .1s ease;
}
#sidebar-nav #dashboard-menu a i.icon-chevron-down {
  position: relative;
  float: right;
  top: 5px;
  font-size: 11px;
  color: #686868;
  width: initial;
  height: initial;
}
#sidebar-nav #dashboard-menu > li.active .dropdown-toggle {
  border-bottom: 0px;
  box-shadow: none;
}
#sidebar-nav #dashboard-menu ul.submenu {
  list-style-type: none;
  display: none;
  margin-top: 7px;
  margin-bottom: 15px;
  margin-right: 5px;
  margin-left: -15px;
  padding-left: 15px;
  border-bottom: 1px solid #dae1e8;
  box-shadow: 0 2px 1px -1px #FFFFFF;
  padding-bottom: 10px;
}
#sidebar-nav #dashboard-menu ul.submenu.active {
  display: block;
}
#sidebar-nav #dashboard-menu ul.submenu a {
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	display: block;
	margin-bottom: 7px;
	padding-left: 30px;
	font-family: "微软雅黑", "宋体", Arial;
	background-image: url(../../img/new_list_one.png);
	background-repeat: no-repeat;
	background-position: 2px 5px;
}
#sidebar-nav #dashboard-menu ul.submenu a:hover {
	background-image: url(../../img/new_list_one_1.png);
	background-repeat: no-repeat;
	background-position: 2px 5px;
  text-decoration: underline;
}
#sidebar-nav #dashboard-menu ul.submenu a.active {
	background-image: url(../../img/new_list_one_1.png);
	background-repeat: no-repeat;
	background-position: 2px 5px;
  font-weight: bold;
  text-shadow: none;
}

#pad-wrapper {
	margin-top: 20px;
	padding-top: 0px;
	padding-right: 50px;
	padding-bottom: 0px;
	padding-left: 50px;
}
#pad-wrapper h4 {
  color: #696d73;
  font-style: italic;
}

.content {
	min-width: 400px;
	min-height: 620px;
	margin-bottom: 70px;
	padding-bottom: 0px;
	overflow: hidden;
	position: relative;
	background: #fff;
	margin-left: 220px;
	border-left: 1px solid #dae3e9;
	border-bottom: 1px solid #dae3e9;
	box-shadow: -3px 3px 3px -2px #f1f1f3;
	border-radius: 0px 0px 0px 5px;
	-webkit-transition: margin-left .3s ease;
	-moz-transition: margin-left .3s ease;
	-o-transition: margin-left .3s ease;
	-ms-transition: margin-left .3s ease;
	transition: margin-left .3s ease;
  /* starts skins changer */
  /* end skin changer*/
}
.content.wide-content {
  margin-left: 0;
  border-radius: 0;
}
.content .skins-nav {
  opacity: 1;
  -webkit-transition: right .3s;
  -moz-transition: right .3s;
  -ms-transition: right .3s;
  -o-transition: right .3s;
  transition: right .3s;
  position: fixed;
  right: -88px;
  top: 135px;
  font-size: 13px;
  z-index: 9999;
}
.content .skins-nav:hover {
  right: 0;
}
.content .skins-nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding-left: 10px;
  height: 37px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  margin-bottom: 3px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.content .skins-nav a.first_nav {
  background: rgba(95, 175, 228, 0.8);
}
.content .skins-nav a.first_nav:hover {
  background: #5fafe4;
}
.content .skins-nav a.second_nav {
  background: rgba(36, 43, 77, 0.8);
}
.content .skins-nav a.second_nav:hover {
  background: #242b4d;
}
.content .skins-nav a .icon {
  float: left;
  width: 9px;
  height: 10px;
  background: url("../../img/skin-nav-bullets.png") 0 0 no-repeat;
  margin: 15px 15px 0 5px;
}
.content .skins-nav a.selected .icon {
  background-position: 0 -9px;
}
.content .skins-nav a .text {
  padding-right: 12px;
  white-space: nowrap;
  display: block;
  width: 115px;
  position: relative;
  top: 9px;
  -webkit-transition: width .2s;
  -moz-transition: width .2s;
  -ms-transition: width .2s;
  -o-transition: width .2s;
  transition: width .2s;
}

/* responsive */
@media (max-width: 768px) {
  #pad-wrapper {
    padding: 0px 15px;
  }

  .content {
    min-width: 0px;
    margin: 0;
  }

  #dashboard-menu .pointer {
    display: none;
  }

  #sidebar-nav {
    left: -200px;
    position: fixed;
    z-index: 9999;
    background-color: #f7f7f7;
    padding-top: 0px;
    border-right: 1px solid #ccc;
    width: 165px;
    box-shadow: 1px 1px 4px 1px #e9e9e9;
    -webkit-transition: left .3s ease;
    -moz-transition: left .3s ease;
    -o-transition: left .3s ease;
    -ms-transition: left .3s ease;
    transition: left .3s ease;
  }

  #sidebar-nav #dashboard-menu {
    margin-left: 10px;
  }

  #sidebar-nav #dashboard-menu li a span {
    visibility: visible;
  }

  #sidebar-nav #dashboard-menu li:last-child a {
    border-bottom: 0px;
    box-shadow: none;
  }
}
@media (max-width: 822px) {
  .navbar-inverse input.search {
    display: none;
  }
}
@media (max-width: 767px) {
  #main-stats .stat {
    width: 50%;
    float: left;
  }
}
.new{
	float: left;
	width: 100%;
}
.new h1{
	float: left;
	height: 35px;
	width: 100%;
	font-size: 16px;
	line-height: 35px;
	font-weight: normal;
	color: #333;
	background-color: #F7F7F7;
	text-indent: 1em;
	margin-top: 9px;
	margin-right: 0px;
	margin-bottom: 9px;
	margin-left: 0px;
}
.new left{
    float: left;
}
.new li{
	float: left;
	width: 100%;
	list-style-type: none;
	height: 45px;
}
.new ul{
	float: left;
	width: 100%;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.new ul dl{
	float: left;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.onnew{
	float: left;
	width: 100%;
}
.new_view{
	position: fixed;
	_position: absolute;
	bottom: 0px;
	_bottom: 0px;
	_margin-top:expression(this.style.pixelHeight+document.documentElement.scrollTop);	
	width: 100%;
	background-color: #D6ECFF;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left:30px;
}

.new_view li{
	float: left;
	background-image: url(../../img/new_button.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 25px;
	width: 92px;
	list-style-type: none;
	line-height: 25px;
	text-align: center;
	margin-right: 8px;
	margin-left: 8px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.new_left{
	float: left;
	line-height: 35px;
}
.new ul dt{
	float: left;
	text-align: right;
	width: 100px;
	line-height: 30px;
	padding-right: 20px;
	font-weight: normal;
}
.new li dt{
	float: left;
	text-align: right;
	width: 100px;
	line-height: 30px;
	padding-right: 20px;
	font-weight: normal;
}
.new li em{
	float: left;
	padding-right: 9px;
	font-style: normal;
	line-height: 35px;
}
.new li em input{
	padding-right: 8px;
}

.new_button{
	float: left;
	background-image: url(../../img/new_button.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 25px;
	width: 92px;
	margin-right: 8px;
	margin-left: 8px;
	margin-top: 6px;
	line-height: 25px;
	font-size: 12px;
	color: #737FA7;
	text-align: center;
}
.new h2{
	float: left;
	height: 35px;
	width: 100%;
	font-size: 12px;
	line-height: 35px;
	font-weight: normal;
	color: #2494F3;
	background-color: #E6F3FE;
	text-indent: 1em;
	margin-right: 0px;
	margin-left: 0px;
	border: 1px solid #A1C7F5;
	margin-bottom: 9px;
}
.new h3{
	float: left;
	width: 100%;
	font-size: 12px;
	line-height: 25px;
	font-weight: normal;
	color: #2494F3;
	background-color: #E6F3FE;
	margin-right: 0px;
	margin-left: 0px;
	border: 1px solid #A1C7F5;
	margin-bottom: 9px;
	padding-left: 4%;
	background-image: url(../../img/h3bg.png);
	background-repeat: no-repeat;
	background-position: 9px 5px;
}
.a_bal{
	float: left;
	height: 1px;
	width: 100%;
	background-color: #DEE3EA;
	margin-top: 10px;
	margin-bottom: 10px;
}
.new_left{
	float: left;
}
.here{
	float: left;
	width: 100%;
}
.here b{
	font-weight: normal;
	color: #158AEC;
}
.new_all{
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 20px;
}
.list_0{
	width: 100px;
	float: left;
}
.list_1{
	width: 100px;
	float: left;
	margin-left: 20px;
}
.list_2{
	width: 200px;
	float: left;
	line-height: 24px;
	padding-left: 10px;
}
.list_4{
	width: 300px;
	float: left;
	font-weight: normal;
	line-height: 24px;
	height: 24px;
}
.list_3{
	width: 300px;
	float: left;
	font-weight: normal;
	line-height: 24px;
	height: 24px;
}
.list_4{
	width: 340px;
	float: left;
	font-weight: normal;
	line-height: 24px;
	height: 24px;
}
.list_3 b{

	float: right;
}
.list_3_1{
	width: 20px;
	float: right;
	height: 14px;
	padding-top: 6px;
}
.new_button_1{
	float: left;
	background-image: url(../../img/new_button_1.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 25px;
	width: 126px;
	margin-right: 8px;
	margin-left: 8px;
	margin-top: 6px;
	line-height: 25px;
	font-size: 12px;
	color: #737FA7;
	font-weight: normal;
	text-align: center;
}


.img_1 {
	position: relative;
	display: block;
	height: 164px;
	width: 160px;
	float: left;
	margin-bottom: 12px;
	margin-left: 9px;
}
.img_1 cite {
	background: #333;
	-moz-opacity: .70;
	filter: alpha(opacity=80);
	opacity: .70;
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 160px;
	border-top: 1px solid #333;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 120px;
	height: 26px;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
	font-weight: normal;
	text-indent: 1em;
	line-height: 26px;
	font-style: normal;
	overflow: hidden;
}
.newico{
	float: left;
	background-image: url(../../img/new_button.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 25px;
	width: 92px;
	list-style-type: none;
	line-height: 25px;
	text-align: center;
	margin-right: 8px;
	margin-left: 8px;
	color:#737FA7;
}
.newico a,.newico_1 a,.new_view li a,.new_button a,.new_button_1 a{
	color:#737FA7;
	font-weight: normal;
}
.newico_1 {
	float: left;
	background-image: url(../../img/new_button_2.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 25px;
	width: 182px;
	list-style-type: none;
	line-height: 25px;
	text-align: center;
	margin-right: 8px;
	margin-left: 8px;
	color:#737FA7;
}

.new_tab{
	color: #FFFFFF;
	font-weight: normal;
	background-image: url(../../img/new_tab.jpg);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	float: left;
	width: 100%;
	height: 32px;
}
.new_tab_s{
	color: #FFFFFF;
	font-weight: normal;
	background-image: url(../../img/new_tab.jpg);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	float: left;
	width: 100%;
	height: 32px;
}
.new_tab_left{
	color: #737FA7;
	font-weight: normal;
	background-image: url(../../img/left_ico.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
	width: 5px;
	height: 32px;
}
.new_tab_right{
	color: #737FA7;
	font-weight: normal;
	background-image: url(../../img/right_ico.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: right;
	width: 5px;
	height: 32px;
}
.new_ic_s{
	color: #333;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
	line-height: 27px;
	font-weight: bold;
	background-image: url(../../img/new_ic_s.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
	height: 27px;
	width: 119px;
	margin-top: 5px;
	text-align: center;
	margin-right: 8px;
	margin-left: 8px;
}
.new_ic_1{
	color: #333;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
	line-height: 27px;
	font-weight: bold;
	background-image: url(../../img/new_ic.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
	height: 27px;
	width: 88px;
	margin-top: 5px;
	text-align: center;
	margin-right: 8px;
	margin-left: 8px;
}
.new_tab_s_n{
	font-weight: normal;
	background-repeat: repeat-x;
	background-position: 0px 0px;
	float: left;
	width: 100%;
	height: 32px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CFDDE8;
}
.new_tab_s_n span{
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 18px;
	line-height: 32px;
	float: left;
	height: 32px;
	width: 60px;
}
.new_tab_s_n dt{
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
	line-height: 32px;
	font-weight: bold;
	float: left;
	height: 32px;
	width: 150px;
	text-align: center;
	margin-right: 8px;
	margin-left: 8px;
	cursor: pointer;
}
.new_tab_ls{
	color: #FFFFFF;
	font-weight: normal;
	background-repeat: repeat-x;
	background-position: 0px 0px;
	float: left;
	width: 100%;
	height: 32px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #656F79;
	background-color: #FFF;
}
.new_tab_s dt{
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
	line-height: 27px;
	font-weight: bold;
	float: left;
	height: 27px;
	width: 119px;
	margin-top: 5px;
	text-align: center;
	margin-right: 8px;
	margin-left: 8px;
	cursor: pointer;
}
.new_tab dt{
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 12px;
	line-height: 27px;
	font-weight: bold;
	float: left;
	height: 27px;
	width: 88px;
	margin-top: 5px;
	text-align: center;
	margin-right: 8px;
	margin-left: 8px;
	cursor: pointer;
}
.new_tab_ls dt{
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
	line-height: 27px;
	font-weight: bold;
	float: left;
	height: 27px;
	width: 118px;
	margin-top: 3px;
	text-align: center;
	margin-right: 8px;
	margin-left: 8px;
	cursor: pointer;
}
.newdt{
	width: 140px;
	text-align: right;
}
div.panel,p.flip
{
margin:0px;
padding:0px;
}

div.panel
{
display:none;
}
.flip img
{
cursor: pointer;
}
div.panel2,p.flip
{
margin:0px;
padding:0px;
}

div.panel2
{
display:none;
}
.flip2 img
{
cursor: pointer;
}
.Contentbox{
	float: left;
	width: 100%;
}

.Contentbox table tr{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EDF2F6;
	padding-top: 6px;
	margin-top: 6px;
}
.Contentbox table tr a{
	border-bottom-color: #EDF2F6;
}
.Contentbox table tr td{
	padding-left: 8px;
	padding-top: 12px;
	padding-bottom: 12px;
	line-height: 22px;
}
.new_hy{
	float: left;
	width: 100%;
	margin-bottom: 12px;
}
.new_hy dd{
	float: left;
}
.new_hy span{
	float: left;
	width: 100%;
	font-size: 12px;
	line-height: 22px;
	color: #3B9EF3;
}
.new_hy ul{
	float: left;
	width: 100%;
	margin: 0px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #DADADA;
	border-right-color: #DADADA;
	border-bottom-color: #DADADA;
	border-left-color: #DADADA;
}
.new_hy ul li{
	float: left;
	width: 25%;
	font-size: 12px;
	line-height: 30px;
	list-style-type: none;
	height: 30px;
	text-align: left;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dadada;
	border-right-color: #dadada;
	border-bottom-color: #dadada;
	border-left-color: #dadada;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 6px;
}
.maage_page{
	width: 300px;
	height: 30px;
	border: 1px solid #DDDDDD;
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 4px;
	padding-right: 5px;
	padding-left: 5px;
	color: #428bca;
}
.maage_page li{
    list-style:none;
    cursor: pointer;
	width: 32px;
	height: 28px;
	float: left;
	line-height: 28px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ddd;
	text-align: center;
}
.maage_page dt{
	width: 32px;
	height: 28px;
	float: left;
	line-height: 28px;
	text-align: center;
	font-weight: normal;
}
.new h1 b{
	float: left;
	width: 120px;
	height: 25px;
}
.page_cl{color: #FFF; background:#428BCA}
.new h1 sapn{
	float: right;
	background-image: url(../../img/newadd.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 25px;
	width: 70px;
	margin-right: 9px;
	font-size: 12px;
	line-height: 25px;
}
.new h1 sapn a{ line-height:25px; color:#FFF
}
.new_usa{
	line-height: 25px
}
.new_usa_list{
	line-height: 22px;
	color: #666
}
.newusa_ic{
	background-image: url(../../img/newlist_1.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	line-height: 26px;
	height: 26px;
	width: 104px;
	float: left;
	padding-left: 8px;
	margin-right: 8px;
	color: #5F93D7;
}
.newusa_ii{
	line-height: 26px;
	height: 26px;
	width: 34px;
	float: left;
	margin-right: 10px;
}
.newusa_iv{
	line-height: 26px;
	height: 26px;
	width: 70px;
	float: left;
	margin-right: 10px;
}
.newusa_i{
	line-height: 26px;
	height: 26px;
	width: 124px;
	float: left;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
	margin-right: 10px;
}
.newusa_ic_1:hover{
	background-image: url(../../img/newlist_1.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.newusa_ic_1{
	line-height: 26px;
	height: 26px;
	width: 104px;
	float: left;
	padding-left: 8px;
	margin-right: 8px;
	color: #5F93D7;
}
.newusa_ici_open{
	height: 22px;
	float: left;
	margin-right: 9px;
	margin-left: 9px;
}
.newusa_ici_del_in{
	height: 22px;
	width: 22px;
	float: left;
	margin-top: 4px;
}
.newusa_ici_del{
	background-image: url(../../img/newlist.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	line-height: 26px;
	height: 26px;
	width: 76px;
	float: left;
	margin-right: 8px;
	color: #5F93D7;
	text-align: center;
	cursor: pointer;
}
.newusa_ici_newbut{
	background-image: url(../../img/newusa_ici_newbut.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	line-height: 25px;
	height: 25px;
	width: 106px;
	float: left;
	margin-left: 12px;
	color: #5F93D7;
	text-align: center;
	cursor: pointer;
	margin-bottom:8px;
	margin-top:8px;
}
.newusa_ici{
	background-image: url(../../img/newlist.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	line-height: 26px;
	height: 26px;
	width: 76px;
	float: left;
	padding-left: 8px;
	margin-right: 8px;
	color: #5F93D7;
	text-align: center;
}
.newusa_ici_2{
	background-image: url(../../img/newlist_2.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	line-height: 26px;
	height: 26px;
	width: 117px;
	float: left;
	padding-left: 8px;
	margin-right: 8px;
	color: #5F93D7;
	text-align: center;
}
.newusa_ici_1{
	line-height: 26px;
	height: 26px;
	width: 76px;
	float: left;
	padding-left: 8px;
	margin-right: 8px;
	color: #5F93D7;
	text-align: center;
}
.newusa_ici_1:hover{
	background-image: url(../../img/newlist.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.page_newlist{
	float: left;
	width: 300px;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 25px;
}
.page_num{
	background-image: url(../../img/page_newlist.png);
	float: left;
	width: 103px;
	line-height: 25px;
	height: 25px;
	color: #FFF;
	text-align: center;
	margin-right: 10px;
	cursor: pointer;
	}
.page_num_type{
	background-image: url(../../img/num_type.gif);
	float: left;
	width: 89px;
	line-height: 25px;
	height: 25px;
	color: #FFF;
	text-align: center;
	margin-right: 10px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 20px;
	}
.new_tab_1_n{
	color: #676767;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
	line-height: 32px;
	font-weight: bold;
	background-image: url(../../img/new_tab_s_n.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
	height: 32px;
	width: 150px;
	text-align: center;
	margin-right: 8px;
	margin-left: 8px;
}
.new_tab_1{
	color: #fff;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
	line-height: 31px;
	font-weight: bold;
	background-image: url(../../img/new_tab_2.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
	height: 31px;
	width: 118px;
	margin-top: 5px;
	text-align: center;
	margin-right: 8px;
	margin-left: 8px;
}
.new_tab_2{
	color: #333;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
	line-height: 31px;
	font-weight: bold;
	background-image: url(../../img/new_tab_1.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
	height: 31px;
	width: 118px;
	margin-top: 5px;
	text-align: center;
	margin-right: 8px;
	margin-left: 8px;
}
.newsj_left{float: left;}
.numlist{
	float: left;
	margin-right: 10px;
}
.newinputt{
	float: left;
	background-image: url(../../img/input.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 25px;
	width: 50px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-right: 5px;
	padding-left: 5px;
}

.tbbay_new{
	float: right;
	margin-right: 10px;
	height: 25px;
	color: #737FA7;
	line-height: 25px;
	text-align: center;
	font-weight: bold;
	text-transform: capitalize;
	font-family:Arial, Helvetica, sans-serif
}
.tbbay{
	float: right;
	margin-right: 10px;
	background-image: url(../../img/newadd.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 25px;
	width: 60px;
	line-height: 25px;
	text-align: center;
}
.tbbay a{
	color: #FFF;
	font-size: 12px;
}
.tbbay_ebay{
	background-image: url(../../img/ebay_add.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 25px;
	width: 89px;
	line-height: 22px;
	text-align: center;
	margin-left: 20px;
	float: left;
	margin-top: 4px;
}
.tbbay_ebay a{
	color: #FFF;
	font-size: 12px;
}
.tbbay_f{
	background-image: url(../../img/a_f.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 25px;
	width: 89px;
	line-height: 22px;
	text-align: center;
	margin-left: 20px;
	float: left;
	margin-top: 4px;
}
.tbbay_f a{
	color: #FFF;
	font-size: 12px;
}
.newsearch{
	color: #333;
	margin-bottom: 20px;
	float: left;
	width: 100%;
}
.vsearch{
	color: #333;
	margin-bottom: 20px;
}
.key_1{
	color: #333;
	float: left;
	height: 26px;
	width: 170px;
	padding-left: 12px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #d0dde9;
	border-right-color: #d0dde9;
	border-bottom-color: #d0dde9;
	border-left-color: #d0dde9;
}
.key_1_1{
	color: #333;
	float: left;
	height: 26px;
	width: 200px;
	padding-left: 12px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #d0dde9;
	border-right-color: #d0dde9;
	border-bottom-color: #d0dde9;
	border-left-color: #d0dde9;
}
.key_2{
	color: #333;
	background-image: url(../../img/searc.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
	height: 26px;
	width: 47px;
	cursor: pointer;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.select { width:80px; height:24px; background:none; border:none; }    
#sleHid { display:block; width:56px; overflow:hidden; }    
#sleBG {
	width: 78px;
	height: 26px;
	border: 1px solid #D0DDE9;
	display: block;
	float: left;
	background-color: #fff;
	background-image: url(../../img/se_ico.gif);
	background-repeat: no-repeat;
	background-position: 65px 10px;
}
.newps{
	width: 285px;
	background-image: url(../../img/admin_user_pass.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
	height: 37px;
	margin-left: 12px;
	padding-right: 10px;
	padding-left: 10px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.newps_put{
	width: 86px;
	background-image: url(../../img/newps_put.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 16px;
	line-height: 31px;
	color: #FFF;
	height: 31px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;margin-left: 12px;
}
#demo {
}
#demo td{ font-size:12px;
}
.listbox {
	FLOAT: left;
	WIDTH: 100%
}
.listbox:hover {
	CURSOR: pointer
}
.listbox h4 {

}
.jq h4 {
	border: 1px solid #A1C7F5;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	background-color: #E6F3FE;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
	line-height: 32px;
	padding-left: 12px;
	height: 32px;

}
.listbox h4 span {
	color: #2495F4;FONT-SIZE: 16px; FLOAT: right; MARGIN-RIGHT: 10px
}
.listbox div {
	BORDER-RIGHT: #6ce26c 2px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: ##A1C7F5 0px solid; DISPLAY: none; PADDING-LEFT: 0.5em; BACKGROUND: #fff; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #6ce26c 2px solid; TEXT-INDENT: 10px; LINE-HEIGHT: 22px; PADDING-TOP: 0.5em; BORDER-BOTTOM: #6ce26c 0px solid;margin-bottom:20px;
}
.jq div {
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 16px;
	text-align: center;
	color: #999;
	margin-top: -20px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #A1C7F5;
	border-right-color: #A1C7F5;
	border-bottom-color: #A1C7F5;
	border-left-color: #A1C7F5;
}
.listbox_new {
	FLOAT: left;
	WIDTH: 100%
}

.listbox_new h4 {

}
.jq_new h4 {
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	background-color: #F4F4F4;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
	line-height: 32px;
	padding-left: 12px;
	height: 32px;

}
.listbox_new h4 span {
	color: #666666;
	FONT-SIZE: 16px;
	FLOAT: right;
	MARGIN-RIGHT: 10px;
	font-weight: bold;
}
.listbox_new h4 span:hover {
CURSOR: pointer
}

.listbox_new div {
	PADDING-RIGHT: 0.5em;
	DISPLAY: none;
	PADDING-LEFT: 0.5em;
	BACKGROUND: #fff;
	PADDING-BOTTOM: 0.5em;
	TEXT-INDENT: 10px;
	LINE-HEIGHT: 22px;
	PADDING-TOP: 0.5em;
	margin-bottom: 20px;
}
.jq_new div {
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 16px;
	text-align: center;
	color: #999;
	margin-top: -20px;
}
.admin_user{
	font-size: 12px;
	background-image: url(../../img/user_login.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	float: left;
	height: 74px;
	width: 100%;
}
.admin_user ul{
	font-size: 12px;
	background-image: url(../../img/admin_user.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 74px;
	width: 229px;
	margin-right: auto;
	margin-left: auto;
}
.admin_user_reg{
	float: left;
	width: 100%;}
.admin_user_reg ul{
	font-size: 12px;
	background-image: url(../../img/user_lo.png);
	background-position: 0px 0px;
    background-size: 100% 100%;
	height: 550px;
	width: 405px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.admin_user_reg ul h1{
	width: 100%;
	float: left;
	text-align: center;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}
.admin_user_reg ul li{
	width: 340px;
	float: left;
	padding-left: 30px;
	height: 40px;
	list-style-type: none;
	margin-top: 20px;
	line-height: 40px;
	color: #b9b9b9;
	padding-right: 30px;
}
.admin_user_reg ul li a{
	color: #b9b9b9;
	text-decoration: none;
}
.admin_user_reg ul li a:hover{
	color: #2894EB;
	text-decoration: underline;
}
.admin_user_input{
	width: 308px;
	float: left;
	height: 40px;
	background-image: url(../../img/admin_user_input.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-right: 10px;
	padding-left: 10px;
	color: #b9b9b9;
}
.admin_1{
	color: #FFFFFF;
	background-image: url(../../img/admin_1.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	line-height: 30px;
	height: 30px;
	width: 99px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: 22px;
	cursor: pointer;
}
.admin_2{
	color: #FFFFFF;
	background-image: url(../../img/admin_2.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	line-height: 30px;
	height: 30px;
	width: 99px;
	float: right;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: 22px;
	cursor: pointer;
}
.admin_3{
	color: #666666;
	background-image: url(../../img/admin_3.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	line-height: 30px;
	height: 30px;
	width: 99px;
	float: right;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: 22px;
	cursor: pointer;
}
.admin_4{
	color: #FFFFFF;
	background-image: url(../../img/admin_2.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	line-height: 30px;
	height: 30px;
	width: 99px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: 22px;
	cursor: pointer;
}
.usernewbox{
	width: 570px;
	margin-right: auto;
	margin-left: auto;
	
}
.usernewbox h1{
	float: left;
	width: 100%;
	font-size: 23px;
	text-align: center;
	text-indent: -1em;
	background-color: #FFF;
	
}
.usernewbox h2{
	float: left;
	width: 100%;
	font-size: 18px;
	background-color: #FFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.usernewbox li{
	float: left;
	width: 100%;
	font-size: 18px;
	background-color: #FFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-image: url(../../img/usernewboxli.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 59px;
	margin-bottom: 15px;
	font-family: "微软雅黑", "宋体", Arial;
	line-height: 59px;
}
.usernewbox span{
	width: 250px;
	font-size: 18px;
	padding-left: 12px;
	float: left;
	height: 59px;
}
.user_put{
	width: 569px;
	float: left;
	height: 47px;
	background-image: url(../../img/user_put.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-bottom: 21px;
}
#newtipi {
	line-height: 25px;
	list-style-type: none;
	float: left;
	width: 89px;
	margin-right: 8px;
}
#newtipi a {
	color: #FFF;
	display: block;
	width: 89px;
	text-align: center;
	padding-left: 20px;
}
#newtipi a:hover {
color:#FFF;
}
#newtipi li {
	float: left;
	width: 89px;
	background-image: url(../../img/num_type.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 25px;
}
#newtipi li ul {
	line-height: 25px;
	list-style-type: none;
	text-align: left;
	left: -999em;
	width: 89px;
	position: absolute;
	background-color: #FFF;
	z-index:10000;
}
#newtipi li ul li{
	float: left;
	width: 89px;
	background-image: url(../../img/num_type.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-top: 8px;
}
#newtipi li ul a{
display: block; width: 89px;text-align:left;padding-left:22px;
}
#newtipi li ul a:hover {
color:#fff;
}
#newtipi li:hover ul {
left: auto;
}
#newtipi li.sfhover ul {
left: auto;
}
.newdata{margin-bottom:6px; margin-right:9px;float: left;}
.newdf{
	left: auto;
	line-height: 25px;
	background-image: url(../../img/df.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
	height: 31px;
	width: 226px;
	padding-top: 6px;
	color: #ff7e00;
	font-family: Arial, Helvetica, sans-serif;
	padding-right: 10px;
	padding-left: 10px;
}
.newbgspan_1{
	width: auto;
	float: left;
	line-height: 23px;
	height: 23px;
	padding-right: 5px;
	padding-left: 5px;
	color: #FFF;
	margin-right: 8px;
	background:#5F94D7;
}
.newbgspan_2{
	width: auto;
	float: left;
	line-height: 23px;
	height: 23px;
	padding-right: 5px;
	padding-left: 5px;
	color: #FFF;
	margin-right: 8px;
	background:#42B21B;
}
.newbgspan_3{
	width: auto;
	float: left;
	line-height: 23px;
	height: 23px;
	padding-right: 5px;
	padding-left: 5px;
	color: #FFF;
	margin-right: 8px;
	background:#1BB2A9;
}
.red_1{color: #F00;font-family: Arial, Helvetica, sans-serif;font-weight: bold;}
.red_2{color: #5F93D7;font-family: Arial, Helvetica, sans-serif;font-weight: bold;}
.newuserall{
	width: 100%;
	float: left
}
.newuserall li{
	width: 100%;
	float: left
}
.newal{
	width: 100%;
	float: left
}
.newco{
	width: 751px;
	float: left;
	background-image: url(../../img/newco.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding: 10px;
	height: 236px;
	color: #C6C6C6;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.newco_one{
	width: 772px;
	float: left;
	background-image: url(../../img/newco_one.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding: 10px;
	height: 227px;
	color: #C6C6C6;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.voknet{
	width: 100%;
	float: left;
	background-color: #DCDCDC;
	height: 1px;
	margin-top: 14px;
	margin-bottom: 14px;
}
.newwhy{
	width: 100%;
	float: left;
	background-color: #FFF;
	height: 333px;
}
.moneyok{
	width: 100%;
	float: left;
	background-color: #E6FFDF;
	height: 34px;
	margin-top: 9px;
	margin-bottom: 9px;
	border: 1px solid #54A43B;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 16px;
	color: #54A43B;
	font-weight: normal;
	text-align: center;
	line-height: 34px;
}
.ebay{
	background-image: url(../../img/ebay.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.Paypal{
	background-image: url(../../img/Paypal.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.newbook{
	float: left;
	width: 100%;
	height: 270px;
	background-color: #E6F3FE;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	border: 1px solid #A6CAF6;
	overflow: auto;
	margin-bottom: 21px;
}
.newbook p{
	float: left;
	width: 100%;
	height: 25px;
	margin: 0px;
}
.newbook .user{
	float: left;
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin: 0px;
	font-weight: bold;
	color: #2495F4;
}
.newbook .admin{
	float: left;
	width: 100%;
	height: 25px;
	line-height: 25px;
	margin: 0px;
	font-weight: bold;
	color: #64B200;
	text-align: right;
}
.newbook .user_co{
	float: left;
	width: 523px;
}
.newbook .user_co_1{
	float: left;
	width: 100%;
	background-image: url(../../img/user_1.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 4px;
	margin: 0px;
	padding: 0px;
}
.newbook .user_co ul{
	float: left;
	width: 511px;
	margin: 0px;
	background-color: #FFF;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #A6CAF6;
	border-right-color: #A6CAF6;
	border-bottom-color: #A6CAF6;
	border-left-color: #A6CAF6;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 25px;
	color: #000;
	padding-right: 0px;
	padding-left: 12px;
}
.newbook .user_co ul span{
	float: left;
	width: 100%;
	color: #999;
}
.newbook .user_co_2{
	float: left;
	width: 100%;
	background-image: url(../../img/user_2.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 9px;
}
.newbook .admin_co{
	float: right;
	width: 523px;
}
.newbook .admin_co_1{
	float: left;
	width: 100%;
	background-image: url(../../img/manuser_1.png);
	background-repeat: no-repeat;
	background-position: right 0px;
	height: 4px;
	margin: 0px;
	padding: 0px;
}
.newbook .admin_co ul{
	float: left;
	width: 511px;
	background-color: #FFF;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #65B301;
	border-right-color: #65B301;
	border-bottom-color: #65B301;
	border-left-color: #65B301;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 25px;
	color: #000;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	padding-right: 0px;
	padding-left: 12px;
}
.newbook .admin_co ul span{
	float: left;
	width: 100%;
	color: #999;
}
.newbook .admin_co_2{
	float: left;
	width: 100%;
	background-image: url(../../img/manuser_2.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 9px;
}
.dpan{
	float: left;
	width: 100%;
	height: 1px;
	background-color: #A1C7F5;
	margin-top: 12px;
	margin-bottom: 12px;
}
.new_index{
	float: left;
	width: 100%;
}
.new_index li{
	float: left;
	width: 32%;
	height: 140px;
	list-style-type: none;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 18px;
	color: #FFF;
	line-height: 50px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 10px;
}
.new_index li span{
	float: left;
	width: 100%;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 21px;
}
.pbd{
	border-right-width: 1px;
	border-right-style: solid;
	border-top-color: #E1E1E1;
	border-right-color: #E1E1E1;
	border-bottom-color: #E1E1E1;
	border-left-color: #E1E1E1;
}
.new_index_2{
	float: left;
	width: 100%;
}
.new_index_2 ul{
	float: left;
	width: 48%;
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑", "宋体", Arial;
}
.new_index_2 h1{
	float: left;
	width:100%;
	margin: 0px;
	padding-bottom:15px;
}
.new_index_2 li{
	width: 100%;
	float: left;
	margin-top: 8px;
	margin-bottom: 8px;
	list-style-type: none;
}
.ico_list{
	width: 100%;
	float: left;
	height:300px;
	margin: 0px;
}
.ico_bin{
	width: 100%;
	float: left;
}