.tableStyle {
	background: #f1f7fa;
	border-bottom: 1px solid #d4ecf6;
}

.tableStyle th {
	background: #e8f2f9;
	color: #282828;
	height: 30px;
	border-right: 1px solid #fff;
}

.tableStyle td {
	padding: 6px 11px;
	vertical-align: top;
	color: #4e4e4e;
	text-align: left;
}

.tableStyle tr.alt td {
	background: #ffffff
}

.tableStyle tr.over td {
	background: #acdaef
}

.tableStyle tr.clickCss td {
	background: #86c4f0
}

.tableStyle a {
	color: #4e4e4e;
	text-decoration: none;
}

.tableStyle a:hover {
	color: #f3220e;
	text-decoration: none;
}

.tableMtop {
	margin-top: 6px;
}

.tablePage {
	text-align: center;
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
	color: #4e4e4e;
}

.tablePage a {
	border: 1px solid #bbd5e2;
	border-top: 1px solid #bbd5e2;
	color: #4e4e4e;
	text-decoration: none;
	padding: 3px 6px 1px 6px;
	cursor: pointer;
}

.tablePage a:hover {
	border: 1px solid #bbd5e2;
	color: #ffffff;
	background: #93bee1;
	text-decoration: none;
	padding: 3px 6px 1px 6px;
	cursor: pointer;
}

.tableLeft {
	float: left;
}

.tableRight {
	float: right;
}