/*表格样式*/
.tab_ZY { text-align:left; border-collapse:collapse;}
.tab_ZY th { border-top:1px solid #b7c0c7; border-bottom:1px solid #b7c0c7;text-align:left; padding:7px 0 7px 10px; background:#f2f6ff; color:#0c8cbe;}
.tab_ZY td { padding:9px 10px; border-bottom:1px solid #dddddd; color:#111111;}
.tab_ZY tr.alt td{background:#ffffff}
.tab_ZY tr.over td{background:#e8f1ff; border-bottom:1px solid #bfd9ff; border-top:1px solid #bfd9ff;}
.tab_ZY tr.clickCss td{background:#bdd8ff; border-bottom:1px solid #79aeff; border-top:1px solid #79aeff;}
.tab_ZY td a { color:#1a93c2; text-decoration:none; cursor:pointer;}
.tab_ZY td a:hover { color:#1a93c2; text-decoration:none; cursor:pointer;}
/*分页栏样式*/
.mtop1 { margin-top:6px;}
.page { text-align:center;  height:30px; line-height:30px; text-indent:10px; color:#4e4e4e;}
.page a { border:1px solid #bbd5e2;border-top:1px solid #bbd5e2; color:#4e4e4e; text-decoration:none; padding:3px 6px 1px 6px; cursor:pointer;margin-right:5px;}
.page a:hover { border:1px solid #bbd5e2; color:#ffffff; background:#93bee1; text-decoration:none; padding:3px 6px 1px 6px; cursor:pointer;margin-right:5px;}

