/*表格样式*/
.tab_ZY { text-align:left; border-collapse:collapse;}
.tab_ZY th { height: 40px;border-top:0px solid #b7c0c7; border-bottom:1px solid #b7c0c7;text-align:left; padding:7px 0 7px 2px; background:#F7F7F7;font-weight: bold}
.tab_ZY td { padding:7px 2px; border-bottom:1px solid #dddddd; color:#111111;background:#ffffff}
.tab_ZY tr.alt td{background:#ffffff}
.tab_ZY tr.over td{background:#e8f1ff; border-bottom:1px solid #bfd9ff; border-top:1px solid #bfd9ff;}
.tab_ZY tr.clickCss td{background:#bdd8ff; border-bottom:1px solid #79aeff; border-top:1px solid #79aeff;}
.tab_ZY td a { color:#1a93c2; text-decoration:none; cursor:pointer;}
.tab_ZY td a:hover { color:#1a93c2; text-decoration:none; cursor:pointer;}

/*分页栏样式*/
.mtop1 { margin-top:6px;}
.page { text-align:center;  height:30px; line-height:30px; text-indent:10px; color:#4e4e4e;}
.page a { border:1px solid #bbd5e2;border-top:1px solid #bbd5e2; color:#4e4e4e; text-decoration:none; padding:3px 6px 1px 6px; cursor:pointer;margin-right:5px;}
.page a:hover { border:1px solid #bbd5e2; color:#ffffff; background:#93bee1; text-decoration:none; padding:3px 6px 1px 6px; cursor:pointer;margin-right:5px;}


.att_mb-tag {
    overflow: hidden;
    font-family: arial, serif;
    float: left;
    list-style-type: none;
    padding: 10px;
    margin-right: 4px;
    background: #f0f0f0;
    border: 1px solid #c0c0c0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 1em;
}
/**div排列*/
.divl_buju_left {
    overflow: hidden;
    font-family: arial, serif;
    float: left;
    list-style-type: none;
    padding: 10px;
    margin: 5px;
    background: #f0f0f0;
    border: 1px solid #c0c0c0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 1em;
}
.divl_buju_right {
    overflow: hidden;
    font-family: arial, serif;
    float: right;
    list-style-type: none;
    padding: 10px;
    margin: 5px;
    background: #f0f0f0;
    border: 1px solid #c0c0c0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 1em;
}

#editor {
    border: 1px solid #CCC;
    width: 1000px
}
#editor_toolbar_box {
    background: #F0F0EE;
    padding: 2px;
}
#editor_iframe_holder {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.tDnD_whileDrag,table.tablednd tbody tr:hover {
    background-color: #eee;
}

.dragHandle {

}

.showDragHandle {
    background-image: url(../../img/updown2.gif);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: move;
}


/**用ul和li模拟的下拉框的样式*/
/*
.select_box {list-style: none;width:60px; border:0px solid #ccc; padding-right:20px; padding-left:10px; background:url(../../img/107.gif) no-repeat 50px center; position:relative;}
.select_box span {cursor:pointer; display:block; line-height:25px; width:100%; height:25px; overflow:hidden;}
.select_box ul li {cursor:pointer;list-style: none}
.son_ul {z-index: 999;margin:0;padding:0;width:70px; position:absolute; left:0; top:25px; border:1px dashed #ccc; background:#fff;}
.son_ul li {margin:0;padding:0;display:block; line-height:25px; padding-left:10px; width:65px;list-style: none; }
.hover {background:#ccc;}*/


.wrapper-dropdown-5 {
    /* Size & position */
    position: relative;
    width: 80px;
    margin: 0 0px;
    font-size: 12px;
    text-align: center;

    padding: 5px 5px;

    /* Styles */
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-5:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 3px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4cbeff transparent;
}

.wrapper-dropdown-5 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    z-index: 999;
    padding-left: 2px;
    /* Styles */
    background: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.1s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
}

.wrapper-dropdown-5 .dropdown li {
    padding: 2px 10px ;
    height: 25px;
    width: 100%;
}

.wrapper-dropdown-5 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 2px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
}

.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
}

.wrapper-dropdown-5 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-5 .dropdown li:hover a {
    color: #57a9d9;
}

/* Active state */

.wrapper-dropdown-5.active {
    border-radius: 5px 5px 0 0;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-dropdown-5.active:after {
    border-color: #82d1ff transparent;
}

.wrapper-dropdown-5.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}

.suspension{
    height: 35px;
    width: 100%;
    bottom: 0px;
    position: fixed;
    background-color: lightblue;
    text-align: right;
    left: 0px;
    padding-top: 1px;
}


/**普通table样式*/
.mytable-striped{border-collapse:collapse;border-spacing:0;}
.mytable-striped tbody tr:nth-child(odd) {background: #F6F6F6;}
.mytable-striped tbody tr:nth-child(even) {background: #ffffff;}
.mytable-striped tbody tr:hover{background: #F0F0F0;}
.mytable-striped tbody tr td{border-bottom:1px solid #bfd9ff;}

.mytable-striped tbody th{border-bottom:1px solid #bfd9ff;}
.mytable-striped tbody th{background-color: #ffffff;border-top:1px solid #bfd9ff;}
.mytable-striped tbody th:nth-child(1){border-left: 1px solid #bfd9ff;}
.mytable-striped tbody th:nth-last-child(1){border-right: 1px solid #bfd9ff;}

.mytable-striped tbody tr td:nth-child(1){border-left: 1px solid #bfd9ff;}
.mytable-striped tbody tr td:nth-last-child(1){border-right: 1px solid #bfd9ff;}



