<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.database.customtrading.mapper.KeyMoveProgressQueryMapper">
  <resultMap id="BaseResultMap" type="com.base.domains.querypojos.KeyMoveProgressQuery">
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="site_id" jdbcType="VARCHAR" property="siteId" />
    <result column="task_flag" jdbcType="VARCHAR" property="taskFlag" />
    <result column="paypal_id" jdbcType="VARCHAR" property="paypalId" />
    <result column="tj_number" jdbcType="BIGINT" property="tjNumber" />
    <result column="progress_id" jdbcType="BIGINT" property="progressId" />
      <result column="waitcount" jdbcType="VARCHAR" property="waitcount" />
      <result column="docount" jdbcType="VARCHAR" property="docount" />
      <result column="errorcount" jdbcType="VARCHAR" property="errorcount" />
  </resultMap>
    <select id="selectKeyMoveProgressList" resultMap="BaseResultMap" parameterType="map">
select bb.user_id,bb.site_id,bb.paypal_id,bb.progress_id,SUM(bb.waitcount) waitcount,SUM(docount) docount,SUM(errorcount) errorcount from (
select aa.user_id,aa.site_id,aa.paypal_id,aa.progress_id,
MAX(CASE WHEN aa.task_flag IS NOT NULL AND aa.task_flag=0 THEN tj_number ELSE '0' END) waitcount,
MAX(CASE WHEN aa.task_flag IS NOT NULL AND aa.task_flag=1 THEN tj_number ELSE '0' END) docount,
MAX(CASE WHEN aa.task_flag IS NOT NULL AND aa.task_flag=2 THEN tj_number ELSE '0' END) errorcount
 from (
select user_id,site_id,task_flag,paypal_id,progress_id,count(1) tj_number from key_move_list where 1=1
        <if test="ebayList!=null">
            and paypal_id in
            <foreach item="ue" index="index" collection="ebayList" open="(" separator="," close=")">#{ue,jdbcType=VARCHAR}</foreach>
        </if>
        group by user_id,site_id,task_flag,paypal_id,progress_id
) aa group by aa.user_id,aa.site_id,aa.paypal_id,aa.progress_id,aa.task_flag
) bb group by bb.user_id,bb.site_id,bb.paypal_id,bb.progress_id order by bb.progress_id DESC
    </select>


    <resultMap id="BaseResultMap22" type="com.base.database.keymove.model.KeyMoveList">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="item_id" jdbcType="VARCHAR" property="itemId" />
        <result column="site_id" jdbcType="VARCHAR" property="siteId" />
        <result column="task_flag" jdbcType="VARCHAR" property="taskFlag" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="paypal_id" jdbcType="VARCHAR" property="paypalId" />
        <result column="progress_id" jdbcType="BIGINT" property="progressId" />
    </resultMap>
    <resultMap extends="BaseResultMap22" id="ResultMapWithBLOBs" type="com.base.database.keymove.model.KeyMoveList">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        <result column="ebaytoken" jdbcType="LONGVARCHAR" property="ebaytoken" />
    </resultMap>

    <select id="selectByPageKeyMoveList"  resultMap="ResultMapWithBLOBs" parameterType="map">
        select id,user_id,item_id,site_id,task_flag,create_time,paypal_id,progress_id,ebaytoken from key_move_list where
        1=1
        <if test="taskFlagList!=null">
            and task_flag in
            <foreach item="ue" index="index" collection="taskFlagList" open="(" separator="," close=")">#{ue,jdbcType=VARCHAR}</foreach>
        </if>
    </select>
</mapper>